{% extends "AppBundle::base.html.twig" %}

{% block body %}
    <h3>Types de document</h3>
    <a class="btn btn-default" href="{{ path('typeDocument_create') }}" role="button">Ajouter un type de document</a>
    <table class="table table-bordered table-striped datatable" id="table-typeDocument">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for typeDocument in typesDocument %}
                <tr>
                    <td class="text-center">{{ typeDocument.libelle }}</td>
                    <td>
                        <a href="{{ path('typeDocument_edit', {'id': typeDocument.id}) }}" class="btn btn-default btn-sm btn-icon icon-left">
                            <i class="entypo-pencil"></i>
                            Edit
                        </a>

                        <a href="{{ path('typeDocument_delete', {'id': typeDocument.id}) }}" class="btn btn-danger btn-sm btn-icon icon-left">
                            <i class="entypo-cancel"></i> Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        jQuery( document ).ready( function( $ ) {
            var $table1 = jQuery( '#table-typeDocument' );

            // Initialize DataTable
            $table1.DataTable( {
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "bStateSave": true
            });
        } );
    </script>
{% endblock %}