{% extends "AppBundle::base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h2>Création d'un type de document</h2>
            <br>
            {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
            {{ form_start(form)}}
            {{ form_end(form) }}
        </div>
    </div>
    <h2>Ensemble des types de document</h2>
    <table class="table table-bordered table-striped datatable" id="table-typeDocument">
        <thead>
            <tr>
                <th>Libellé</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for typeDocument in typesDocument %}
                <tr>
                    <td class="text-center">{{ typeDocument.libelle }}</td>
                    <td>
                        <a onclick="editerTypeDocument({{ typeDocument.id }})" data-toggle="modal" data-target="#modalEditTypeDoc" class="btn btn-default btn-sm btn-icon icon-left">
                            <i class="entypo-pencil"></i> Éditer
                        </a>

                        <button type="button" class="btn btn-danger btn-sm btn-icon icon-left" data-toggle="modal" data-target="#modalSupprimerTypeDoc{{ typeDocument.id }}">
                            <i class="entypo-cancel"></i> Supprimer
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modalSupprimerTypeDoc{{ typeDocument.id }}" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Supprimer document</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Confirmez-vous la supression du type  document "{{typeDocument.libelle}}" ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ path('typeDocument_delete', {'id': typeDocument.id}) }}" class="btn btn-default">
                                            Supprimer
                                        </a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="modalSupprimerTypeDoc{{ typeDocument.id }}" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Supprimer document</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Confirmez-vous la supression du type  document "{{typeDocument.libelle}}" ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ path('typeDocument_delete', {'id': typeDocument.id}) }}" class="btn btn-default">
                                            Supprimer
                                        </a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="modalEditTypeDoc" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">

            </div>

        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        jQuery( document ).ready( function( $ ) {
            var $table1 = jQuery( '#table-typeDocument' );

            // Initialize DataTable
            $table1.DataTable( {
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "bStateSave": true
            });
        } );
    </script>
{% endblock %}