{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-6 col-lg-6">
            <h2>Questionnaires à compléter</h2>
            <div class="panel-group" id="accordion">
                {% for q in questionnairesAcompleter %}
                    <div class="panel panel-default">
                        <div id="divCollapse{{ loop.index }}" onclick="afficherQuestionnaireDashBord({{ q.questionnaire.id }}, {{ loop.index }})" class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{ loop.index }}">
                            <h4 class="panel-title">{{ q.questionnaire.description }}</h4>

                        </div>
                        <div id="collapse{{ loop.index }}" class="panel-collapse collapse">
                            <div id="panel{{ loop.index }}" class="panel-body">
                            </div>
                        </div>
                    </div>
                {%  endfor %}
            </div>
        </div>

    </div>
    <div class="col-sm-6 col-lg-6">
        <div>
            <h2>News</h2>
            <p>La nouvelle version du LEA est disponible!</p>
        </div>
        <div>
            <h2>Calendrier d'alternance</h2>
            <div style="overflow:hidden;">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="datepicker" id="calendrierAlternance"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}