{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-sm-8 col-lg-8">
        <h2>Questionnaires à compléter</h2>
        <div class="panel-group" id="accordion">
            {% for q in questionnairesAcompleter %}
                <div class="panel panel-default">
                    <div id="divCollapse{{ loop.index }}" onclick="afficherQuestionnaireDashBord({{ q.questionnaire.id }}, {{ loop.index }})" class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{ loop.index }}">
                        <h4 class="panel-title">
                           {% if (q.questionnaire.dateFermeture < date("+7 day")) %}
                            <span class="glyphicon glyphicon-exclamation-sign informQuestionnaireUrgent"></span>
                            {% elseif (q.questionnaire.dateFermeture < date("+14 day") and q.questionnaire.dateFermeture > date("+7 day")) %}
                            <span class="glyphicon glyphicon-exclamation-sign informQuestionnaireMoyenUrgent"></span>
                            {% elseif (q.questionnaire.dateFermeture < date("+30 day") and q.questionnaire.dateFermeture > date("+14 day"))%}
                            <span class="glyphicon glyphicon-bell informQuestionnaireNonUrgent"></span>
                            {% endif %}
                            {{ q.questionnaire.description }} du {{  q.questionnaire.dateOuverture|date('d M Y') }} au {{  q.questionnaire.dateFermeture|date('d M Y') }}


                        </h4>

                    </div>
                    <div id="collapse{{ loop.index }}" class="panel-collapse collapse">
                        <div id="panel{{ loop.index }}" class="panel-body">
                        </div>
                    </div>
                </div>
            {%  endfor %}
        </div>
    </div>
    <div class="col-sm-4 col-lg-4">
        <div>
            <h2>News</h2>
            <p>La nouvelle version du LEA est disponible!</p>
        </div>
        <div>
            <h2>Calendrier d'alternance</h2>
            <div style="overflow:hidden;">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="datepicker" id="calendrierAlternance"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}