
<div id="sidebar">
    <!-- Wrapper for scrolling functionality -->
    <div id="sidebar-scroll">
        <!-- Sidebar Content -->
        <div class="sidebar-content">
            <!-- Brand -->
            <a href="{{ path('front_index') }}" class="sidebar-brand">
                <i class="gi gi-flash"></i><span class="sidebar-nav-mini-hide"><strong>FO</strong> API</span>
            </a>

            <ul class="sidebar-nav">
                <li>
                    <a href="{{ path('article_index') }}">
                        <i class="gi gi-stopwatch sidebar-nav-icon"></i>
                        <span class="sidebar-nav-mini-hide">Article</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('role_index') }}">
                        <i class="gi gi-stopwatch sidebar-nav-icon"></i>
                        <span class="sidebar-nav-mini-hide">Role</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('contact_index') }}">
                        <i class="gi gi-stopwatch sidebar-nav-icon"></i>
                        <span class="sidebar-nav-mini-hide">Contact</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('factory_index') }}">
                        <i class="gi gi-stopwatch sidebar-nav-icon"></i>
                        <span class="sidebar-nav-mini-hide">Factory</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('status_index') }}">
                        <i class="gi gi-stopwatch sidebar-nav-icon"></i>
                        <span class="sidebar-nav-mini-hide">Status</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('subject_index') }}">
                        <i class="gi gi-stopwatch sidebar-nav-icon"></i>
                        <span class="sidebar-nav-mini-hide">Subject</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>