<ul id="main-menu" class="main-menu">
    <li class="root-level">
        <a href="{{ path('homepage') }}">
            <i class="entypo-home"></i>
            <span class="title">Accueil</span>
        </a>
    </li>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <li class="root-level">
            <a href="{{ path('user_index') }}">
                <i class="entypo-users"></i>
                <span class="title">Users</span>
            </a>
        </li>
    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li class="root-level">
            <a href="{{ path('questionnaire_index') }}">
                <i class="entypo-search"></i>
                <span class="title">Questionnaires</span>
            </a>
        </li>
    {% endif %}

    {% if is_granted('ROLE_RESPONSABLE') %}
        <li class="root-level">
            <a href="{{ path('typeDocument_index') }}">
                <i class="entypo-docs"></i>
                <span class="title">Types de document</span>
            </a>
        </li>
    {% endif %}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <li class="root-level">
            <a href="{{ path('anneeScolaire_index') }}">
                <i class="entypo-location"></i>
                <span class="title">Années scolaires</span>
            </a>
        </li>

        <li class="root-level">
            <a href="{{ path('document_index') }}">
                <i class="entypo-docs"></i>
                <span class="title">Documents</span>
            </a>
        </li>
    {% endif %}
    <li class="root-level">
        <a href="{{ path('user_edit', {'id': app.user.id }) }}">
            <i class="entypo-location"></i>
            <span class="title">Mon compte</span>
        </a>
    </li>
</ul>