<ul id="main-menu" class="main-menu">
    <li class="root-level">
        <a href="{{ path('homepage') }}">
            <i class="entypo-home"></i>
            <span class="title">Accueil</span>
        </a>
    </li>
    <li class="root-level">
        <a href="{{ path('user_index') }}">
            <i class="entypo-users"></i>
            <span class="title">Users</span>
        </a>
    </li>
    <li class="root-level">
        <a href="{{ path('questionnaire_index') }}">
            <i class="entypo-search"></i>
            <span class="title">Questionnaires</span>
        </a>
    </li>
    <li class="root-level">
        <a href="{{ path('typeDocument_index') }}">
            <i class="entypo-docs"></i>
            <span class="title">Types de document</span>
        </a>
    </li>
    <li class="root-level">
        <a href="{{ path('anneeScolaire_index') }}">
            <i class="entypo-location"></i>
            <span class="title">Années scolaires</span>
        </a>
    </li>
</ul>