<div class="row">
    <div class="col-md-6 col-sm-8 clearfix">
        <ul class="user-info pull-left pull-none-xsm">
            <li class="profile-info dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <img src="{{ asset("assets/images/thumb-1@2x.png") }}" alt="" class="img-circle" width="44" />
                        {{ app.user.prenom }} {{ app.user.nom }}
                    {% else %}
                        <img src="{{ asset("assets/images/member.jpg") }}" alt="" class="img-circle" width="44" />
                        Connectez-vous !
                    {% endif %}
                </a>

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <ul class="dropdown-menu">
                        <li class="caret"></li>
                        <li>
                            <a href="#">
                                <i class="entypo-user"></i>
                                Mon profil
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="entypo-mail"></i>
                                Email
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="entypo-calendar"></i>
                                Calendrier
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="entypo-clipboard"></i>
                                Tâches
                            </a>
                        </li>
                    </ul>
                {% endif %}
            </li>
        </ul>

        <ul class="user-info pull-left pull-right-xs pull-none-xsm">
            <!-- Raw Notifications -->
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="notifications dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="entypo-attention"></i>
                        <span class="badge badge-info">2</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="top">
                            <p class="small">
                                <a href="#" class="pull-right">Marquer comme lues</a>
                                Vous avez <strong>2</strong> nouvelles notifications.
                            </p>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list scroller">
                                <li class="unread notification-success">
                                    <a href="#">
                                        <i class="entypo-user-add pull-right"></i>

                                        <span class="line">
                                            <strong>Nouveau questionnaire</strong>
                                        </span>

                                        <span class="line small">
                                            Il y a 30 secondes
                                        </span>
                                    </a>
                                </li>
                                <li class="unread notification-secondary">
                                    <a href="#">
                                        <i class="entypo-heart pull-right"></i>

                                        <span class="line">
                                            <strong>Quelqu'un vous aime</strong>
                                        </span>

                                        <span class="line small">
                                            Il y a 10 ans
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="external">
                            <a href="#">Voir toutes les notifications</a>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>


    <!-- Raw Links -->
    <div class="col-md-6 col-sm-4 clearfix hidden-xs">
        <ul class="list-inline links-list pull-right">
            <li>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a href="{{ path('fos_user_security_logout') }}">
                        Se déconnecter <i class="entypo-logout right"></i>
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">
                        Se connecter <i class="entypo-login"></i>
                    </a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>