{% block body %}
    <!-- Gestion des dates d'ouverture et des dates de fermeture du questionnaire -->
    {% if (questionnaire.dateOuverture > date() or questionnaire.dateFermeture < date()) %}
        {% set open = false %}
    {% else %}
        {% set open = true %}
    {% endif %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form_start(form)}}
    <div class="row">
        <div class="col-md-12">

            {% if is_granted('ROLE_RESPONSABLE') %}
                <h1>{{ questionnaire.description }}</h1>
            {% endif %}

            {% for question in form.questions %}
                 <div class="row">
                    <div class="col-md-3">
                        {% if is_granted('ROLE_RESPONSABLE') %}
                            <h3>{{ question.vars.value.description }}</h3>
                        {% else %}
                            {{ question.vars.value.description }}
                        {% endif %}
                    </div>
                    <div class="col-md-9">
                        {% if question.vars.value.typeQuestion == 1 %}
                            {% if ((question.vars.value.cible == 1 and is_granted('ROLE_ETUDIANT')) or (question.vars.value.cible == 2 and is_granted('ROLE_TUTEUR')) or (question.vars.value.cible == 3 and is_granted('ROLE_MAP'))) and open == true %}
                                {{ form_widget(question.children.description, { 'attr': {'cols': '100', 'rows': '3'} }) }}
                            {% else %}
                                {{ form_widget(question.children.description, { 'attr': {'cols': '100', 'rows': '3', 'disabled': 'disabled'} }) }}
                            {% endif %}
                        {% elseif question.vars.value.typeQuestion == 2 %}
                            {% if ((question.vars.value.cible == 1 and is_granted('ROLE_ETUDIANT')) or (question.vars.value.cible == 2 and is_granted('ROLE_TUTEUR')) or (question.vars.value.cible == 3 and is_granted('ROLE_MAP'))) and open == true %}
                                {{ form_widget(question.children.choix) }}
                            {% else %}
                                {{ form_widget(question.children.choix, { 'attr': {'class': 'disabledRadio'} }) }}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <br><br>
            {% endfor %}
            <div class="pull-right">
                <button type="button" class="btn btn-default save">Enregistrer brouillon</button>
                <button type="button" class="btn btn-default sign">Signer</button>
            </div>

        </div>
    </div>
    </form>
{% endblock %}