{% extends "AppBundle::base.html.twig" %}

{% block body %}
    <h2>Ensemble des questionnaires</h2>

    {% if is_granted('ROLE_RESPONSABLE') %}
        <div class="row text-center">
            <div class="col-sm-6 col-lg-4">
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="{{ path('questionnaire_create') }}" class="widget widget-hover-effect2">
                    <div class="widget-extra themed-background-amethyst">
                        <h4 class="widget-content-light">
                            <strong>Créer un nouveau</strong> questionnaire
                        </h4>
                    </div>
                    <div class="widget-extra-full">
                        <span class="h2 text-danger animation-expandOpen"><i class="fa fa-users"></i></span>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
            </div>
        </div>
        <table class="table table-bordered table-striped datatable" id="table-questionnaire">
            <thead>
            <tr>
                <th>Description</th>
                <th>Type du questionnaire</th>
                <th>Date d'ouverture</th>
                <th>Date de fermeture</th>
                <th>Promotion(s)</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for questionnaire in questionnaires %}
                <tr>
                    <td class="text-center">{{ questionnaire.description }}</td>
                    <td class="text-center">{{ questionnaire.type }}</td>
                    <td class="text-center">{{ questionnaire.dateOuverture|date('d M Y') }}</td>
                    <td class="text-center">{{ questionnaire.dateFermeture|date('d M Y') }}</td>
                    <td class="text-center">
                        {% for promotion in questionnaire.promotions %}
                            {{ promotion.nom }} </br>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('questionnaire_edit', {'id': questionnaire.id}) }}" class="btn btn-default btn-sm btn-icon icon-left">
                            <i class="entypo-pencil"></i> Éditer
                        </a>
                        <a href="{{ path('questionnaire_delete', {'id': questionnaire.id}) }}" class="btn btn-danger btn-sm btn-icon icon-left">
                            <i class="entypo-cancel"></i> Supprimer
                        </a>
                        <a href="{{ path('questionnaire_display', {'id': questionnaire.id}) }}" class="btn btn-info btn-sm btn-icon icon-left">
                            <i class="entypo-info"></i> Afficher
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <ul class="nav nav-tabs">
            {% for key in questionnaires.keys %}

                {% if loop.index0==0 %}
                     <li class="active"><a data-toggle="tab" href="#{{ key }}">{{ key }}</a></li>
                {% else %}
                    <li><a data-toggle="tab" href="#{{ key }}">{{ key }}</a></li>
                {% endif %}

            {% endfor %}
        </ul>

        <div class="tab-content">
            {% set keys = questionnaires.keys %}
            {% set i = 0 %}
            {% for questionnaire in questionnaires %}
                {% set index = loop.index %}
                {% if i==0 %}
                     <div id="{{ keys[i] }}" class="tab-pane fade in active">
                {% else %}
                    <div id="{{ keys[i] }}" class="tab-pane fade">
                {% endif %}
                    <h3>{{ keys[i] }}</h3>
                    {% set quests = questionnaire %}
                    <div class="panel-group" id="accordionQuestionnaires">
                    {% for type in types %}
                        <div class="panel panel-default">
                            <div id="divCollapse{{ loop.index }}" class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{ keys[i] }}_{{loop.index}}">
                                <h4 class="panel-title">{{type.libelle}}</h4>
                            </div>
                            <div id="collapse{{ keys[i] }}_{{loop.index}}" class="panel-collapse collapse">
                                <div class="panel-body{{loop.index}}">

                                    <ul class="list-group">
                                        {% for quest in quests %}
                                            {% if quest.type.id==type.id %}
                                            <li class="list-group-item">
                                                <a id="questionnaire{{ quest.id }}" onclick="afficherQuestionnaire({{ quest.id }})" data-toggle="modal" data-target="#modalQuestionnaire">
                                                    <h5>Du {{ quest.dateOuverture|date('d M Y') }} au {{ quest.dateFermeture|date('d M Y') }}</h5>
                                                </a>
                                            </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                         </div>
                        {% endfor %}
                        {% set i = i + 1 %}
                     </div>
                </div>
            {% endfor %}
        </div>




    {% endif %}
<!-- Modal -->
  <div class="modal fade" id="modalQuestionnaire" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">

      </div>

    </div>
  </div>
{% endblock %}


{% block javascript %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function($){
            var $table1 = jQuery('#table-questionnaire');

            // Initialize DataTable
            $table1.DataTable({
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "bStateSave": true
            });
        });
    </script>
{% endblock %}