{% block body %}
    <!-- Gestion des dates d'ouverture et des dates de fermeture du questionnaire -->
    {% if (questionnaire.dateOuverture > date() or questionnaire.dateFermeture < date()) %}
        {% set open = false %}
    {% else %}
        {% set open = true %}
    {% endif %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form_start(form)}}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
            {{ questionnaire.description }}
        </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                {% for question in form.questions %}
                    <div class="row">
                        <div class="col-md-3">
                            {{ question.vars.value.description }}
                        </div>
                        <div class="col-md-9">
                            {% if question.vars.value.typeQuestion == 1 %}
                                {% if ((question.vars.value.cible == 1 and is_granted('ROLE_ETUDIANT')) or (question.vars.value.cible == 2 and is_granted('ROLE_TUTEUR')) or (question.vars.value.cible == 3 and is_granted('ROLE_MAP'))) and open == true %}
                                    {{ form_widget(question.children.description, { 'attr': {'cols': '100', 'rows': '3'} }) }}
                                {% else %}
                                    {{ form_widget(question.children.description, { 'attr': {'cols': '100', 'rows': '3', 'disabled': 'disabled'} }) }}
                                {% endif %}
                            {% elseif question.vars.value.typeQuestion == 2 %}
                                {% if ((question.vars.value.cible == 1 and is_granted('ROLE_ETUDIANT')) or (question.vars.value.cible == 2 and is_granted('ROLE_TUTEUR')) or (question.vars.value.cible == 3 and is_granted('ROLE_MAP'))) and open == true %}
                                    {{ form_widget(question.children.choix) }}
                                {% else %}
                                    {{ form_widget(question.children.choix, { 'attr': {'class': 'disabledRadio'} }) }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <br><br>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="btnSaveQuestionnaire" class="btn btn-default" data-dismiss="modal">Enregistrer brouillon</button>
        <button id="btnSignerQuestionnaire" class="btn btn-default" data-dismiss="modal">Signer</button>
        <button class="btn btn-default" data-dismiss="modal">Fermer</button>
    </div>
    </form>
{% endblock %}