{% extends "AppBundle::base.html.twig" %}

{% block body %}

    <div class="row">
        <div class="col-md-8">
            <div class="block-title">
                <h2>Nouveau document</h2>
            </div>
            {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    <h2>Ensemble des documents</h2>
    <table class="table table-bordered table-striped datatable" id="table-document">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Type de document</th>
                {% if (is_granted('ROLE_ETUDIANT') or is_granted('ROLE_SUPER_ADMIN')) %}
                <th>Visible MAP</th>
                <th>Visible tuteur</th>
                <th>Visible responsable de formation</th>
                <th>Date</th>

                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% for document in documents %}
                <tr>
                    <td><a href="{{ asset('assets/uploads/') }}{{ document.nomFichier }}" target="_blank"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></button></a> {{ document.titre }}</td>
                    <td>{{ document.typeDocument }}</td>
                    {% if (is_granted('ROLE_ETUDIANT') or is_granted('ROLE_SUPER_ADMIN')) %}
                    <td>{{ document.visibleMAP ? '<span class="label label-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>' : '<span class="label label-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>' }}</td>
                    <td>{{ document.visibleTuteur ? '<span class="label label-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>' : '<span class="label label-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>' }}</td>
                    <td>{{ document.visibleResponsable ? '<span class="label label-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>' : '<span class="label label-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>' }}</td>
                    <td>{{ document.date|date('d/m/Y') }}</td>
                    <td>
                        <a onclick="editerDocument({{ document.id }})" data-toggle="modal" data-target="#modalEditDoc" class="btn btn-default btn-sm btn-icon icon-left">
                            <i class="entypo-pencil"></i> Éditer
                        </a>

                        <button type="button" class="btn btn-danger btn-sm btn-icon icon-left" data-toggle="modal" data-target="#modalSupprimerDoc{{ document.id }}">
                            <i class="entypo-cancel"></i> Supprimer
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modalSupprimerDoc{{ document.id }}" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Supprimer document</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Confirmez-vous la supression du document "{{document.titre}}" ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ path('document_delete', {'id': document.id}) }}" class="btn btn-default">
                                            Supprimer
                                        </a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="modalEditDoc" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">

            </div>

        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        jQuery( document ).ready( function( $ ) {
            var $table1 = jQuery( '#table-document' );

            // Initialize DataTable
            $table1.DataTable( {
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "bStateSave": true
            });
        } );
    </script>
{% endblock %}