{% extends "AppBundle::base.html.twig" %}

{% block body %}

    <div class="content content-boxed">

        <div class="block full block-rounded">
            <div class="block-title">
                <h2>User</h2>
            </div>
            <div class="table-responsive">
                <a href="{{ path('user_create') }}">
                    <button class="btn btn-lg btn-primary"><i class="fa fa-plus"></i> Créer un nouvel utilisateur</button>
                </a>
                <table id="user-datatable" class="table table-vcenter table-condensed table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">mail</th>
                        <th class="text-center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td class="text-center">{{ user.id }}</td>
                            <td class="text-center">{{ user.mail }}</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <a href="{{ path('user_edit', {'id': user.id}) }}" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                    <a href="{{ path('user_delete', {'id': user.id}) }}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        $(function () {
            TablesDatatables.init();
        });
    </script>
{% endblock %}