{% block body %}
    <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
            Modifier question
        </h4>
    </div>
    <div class="modal-body">
        <div>
            {% form_theme formQuestion 'bootstrap_3_horizontal_layout.html.twig' %}
            <form name="question" action="{{ path('question_save', {'id':question.id}) }}" method="post" class="form-horizontal">

                {{ form_rest(formQuestion) }}
                <button id="btnUpdateQuestion" name="question[save]" class="btn btn-default pull-right" data-dismiss="modal">Modifier question</button>
            </form>
        </div>
        <br>
        <div id="choixQuestion">
                <h3>Choix</h3>
                <div>
                    {% form_theme formChoix 'bootstrap_3_horizontal_layout.html.twig' %}
                    <form id="formAddChoix" action="{{ path('choix_create', {'id':question.id})}}" name="formAddChoix" method="post" class="form-horizontal">
                        <div class="col-md-1">
                            {{ form_label(formChoix.rang) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_widget(formChoix.rang) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_label(formChoix.description) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_widget(formChoix.description) }}
                        </div>
                        <div class="col-md-offset-1  col-md-1">
                            <button id="btnCreerChoix" class="btn btn-default pull-right">Créer choix</button>
                        </div>
                        {{ form_rest(formChoix) }}

                    </form>
                </div>
                <table class="table table-bordered table-striped datatable" id="table-choix">
                    <thead>
                    <tr>
                        <th>Rang</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for choi in question.choix %}
                        <tr>
                            <td id="tdRangAssocier{{ loop.index }}" class="text-center">{{ choi.rang }}</td>
                            <td id="tdDescriptionAssocier{{ loop.index }}" class="text-center">{{ choi.description }}</td>
                            <td>
                                <a id="btnEditerAssocier{{ loop.index }}" onclick="editerRow('Associer{{ loop.index }}', {{ choi.rang }}, '{{ choi.description }}')" class="btn btn-default btn-sm btn-icon icon-left">
                                    <i class="entypo-pencil"></i> Éditer
                                </a>
                                <a onclick="supprimerChoixQuestion({{ question.id}}, {{ choi.id }})" class="btn btn-danger btn-sm btn-icon icon-left">
                                    <i class="entypo-cancel"></i> Dissocier
                                </a>

                            </td>
                        </tr>

                    {% endfor %}
                    {% for choi in choix %}
                        <tr>
                            <td id="tdRangDissocier{{ loop.index }}" class="text-center">{{ choi.rang }}</td>
                            <td id="tdDescriptionDissocier{{ loop.index }}" class="text-center">{{ choi.description }}</td>
                            <td>
                                <a id="btnEditerDissocier{{ loop.index }}" onclick="editerRow('Dissocier{{ loop.index }}', {{ choi.rang }}, '{{ choi.description }}')" class="btn btn-default btn-sm btn-icon icon-left">
                                    <i class="entypo-pencil"></i> Éditer
                                </a>
                                <a onclick="ajouterChoixQuestion({{ question.id}}, {{ choi.id }})" class="btn btn-success btn-sm btn-icon icon-left">
                                    <i class="entypo-plus"></i> Ajouter
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
    <div class="modal-footer">
        <a onclick="reload()" data-backdrop="static" data-keyboard="false" class="btn btn-default">
            Fermer
        </a>
    </div>

{% endblock %}